[Desktop Entry]
Name=Catalina Dynamic
Name[ar]=كاتالينا ديناميكي
Name[ca]=Catalina Dynamic
Name[cs]=Catalina Dynamic
Name[da]=Catalina Dynamic
Name[de]=Catalina Dynamic
Name[en_GB]=Catalina Dynamic
Name[es]=Catalina Dinamica
Name[et]=Catalina Dynamic
Name[eu]=Catalina Dynamic
Name[fi]=Catalina Dynamic
Name[fr]=Catalina Dynamic
Name[gl]=Catalina Dynamic
Name[hu]=Catalina Dynamic
Name[id]=Catalina Dynamic
Name[it]=Catalina Dynamic
Name[ko]=카탈리나 다이내믹
Name[nl]=Catalina Dynamic
Name[nn]=Catalina Dynamic
Name[pa]=ਕੈਟਲੀਨਾ ਡਾਇਨਾਮਿਕ
Name[pl]=Catalina Dynamic
Name[pt]=Catalina Dynamic
Name[pt_BR]=Catalina Dynamic
Name[ru]=Каталина Динамик
Name[sk]=Catalina Dynamic
Name[sl]=Catalina Dynamic
Name[sr]=Цаталина Динамиц
Name[sr@ijekavian]=Цаталина Динамиц
Name[sv]=Catalina Dynamic
Name[tr]=Catalina Dinamik
Name[uk]=Catalina Dynamic
Name[x-test]=xxCatalina Dynamicxx
Name[zh_CN]=Catalina Dynamic
Name[zh_TW]=Catalina Dynamic
X-KDE-PluginInfo-Name=CatalinaDynamic
X-KDE-PluginInfo-Author=Caglar Turali
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=
